@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html {
        @apply scroll-smooth;
    }

    body {
        font-family: 'Questrial', sans-serif;
        @apply bg-custom-black-bg  text-[18px] font-normal leading-[24px] text-custom-white md:text-[22px] md:leading-[28px];
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-medium text-custom-white;
    }

    img {
        @apply h-full w-full object-cover;
    }

    a {
        @apply inline-block;
    }
}

@layer components {
    .wrapper {
        @apply mx-auto max-w-full px-5 md:px-[130px] lg:px-[130px] 2xl:max-w-[1300px] 2xl:px-0;
    }

    .show-mobile-nav {
        @apply !fixed h-screen bg-custom-black-bg;
    }
}

.hero__area {
    background-image: url(../public/assets/images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
#security{
    background-image: url(../public/assets/images/gradient_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.slideUp{
    top:40px;
    transform: translateX(-20px);
    animation: slideUp  1s infinite;
    margin-inline: 10px;
}
@keyframes slideUp {
    0% {transform: translateY(20px);}
    100% {transform: translateY(-40px);opacity:1;}
}

